/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}
/* Navigatin Bar :Logo and Image  */
#logo{
    margin: 2px 15px;
}
#logo img{
    height: 55px;
    width: auto;
    /* margin: 4px 5px; */
    /* padding: 10px 10px; */
}
/* Navigation Bar : List Styling */

#navbar ul{
    display: flex;
}
#navbar::before{
    
}
#navbar ul li{
    font-size: 1.2rem;
    list-style: none;
    /* text-decoration: none; */
}
#navbar ul li a{
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
}