/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}
/* Navigatin Bar :Logo and Image  */
#logo{
    margin: 2px 15px;
}
#logo img{
    height: 55px;
    width: auto;
    /* margin: 4px 5px; */
    padding: 10px 10px;
}
/* Navigation Bar : List Styling */

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li