.englishunited-states {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 92.71px;
    height: 11px;
}
.mingcutedown-line-icon {
    position: absolute;
    top: 0.79px;
    left: 93.5px;
    width: 9.43px;
    height: 9.43px;
    overflow: hidden;
}
.englishunited-states-parent {
    position: absolute;
    top: 44px;
    left: 129px;
    width: 102.93px;
    height: 11px;
    color: #717171;
}
.span {
    color: #000;
}
.sign-up {
    color: #4c5495;
}
.dont-have-an-container {
    position: absolute;
    top: 727.5px;
    left: calc(50% - 123px);
    font-size: 13.2px;
    white-space: pre-wrap;
    text-align: center;
    display: inline-block;
    width: 245.03px;
    cursor: pointer;
    font-family: Ubuntu;
}
.login-page-child {
    position: absolute;
    top: 708.5px;
    left: 0px;
    max-height: 100%;
    width: 360px;
}
.component-1-child {
    position: absolute;
    height: 24.51%;
    width: 100%;
    top: 75.49%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    background-color: rgba(46, 153, 252, 0.5);
    border: 1px solid #82bdf4;
    box-sizing: border-box;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #e2e2e2;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}
.phone-number-username {
    position: absolute;
    top: 34%;
    left: 8.2%;
}
.rectangle-parent {
    position: absolute;
    height: 24.51%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 75.49%;
    left: 0%;
    cursor: pointer;
}
.fluenteye-hide-24-filled-icon {
    position: absolute;
    height: 46%;
    width: 7.26%;
    top: 26%;
    right: 5.36%;
    bottom: 28%;
    left: 87.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.password {
    position: absolute;
    top: 34%;
    left: 8.52%;
}
.rectangle-group {
    position: absolute;
    height: 24.51%;
    width: 100%;
    top: 37.75%;
    right: 0%;
    bottom: 37.75%;
    left: 0%;
    cursor: pointer;
}
.component-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.log-in {
    position: absolute;
    top: 83.82%;
    left: 44.16%;
    font-size: 13.47px;
    color: rgba(255, 255, 255, 0.43);
    filter: blur(1.5px);
}
.component-3 {
    position: absolute;
    top: 298px;
    left: 22px;
    width: 317px;
    height: 204px;
    font-size: 15.63px;
    color: #a1a1a1;
}
.logosinstagram-icon {
    position: absolute;
    top: 237px;
    left: calc(50% - 70px);
    width: 140.27px;
    height: 40px;
    overflow: hidden;
}
.nav-bar-icon {
    position: absolute;
    top: 762px;
    left: 0px;
    width: 360px;
    height: 38px;
}
.battery-icon {
    position: absolute;
    height: 57.41%;
    width: 7.26%;
    top: 26.85%;
    right: 0%;
    bottom: 15.74%;
    left: 92.74%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wifi-icon {
    position: absolute;
    height: 61.11%;
    width: 4.67%;
    top: 24.06%;
    right: 8.94%;
    bottom: 14.83%;
    left: 86.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cellular-connection-icon {
    position: absolute;
    height: 59.26%;
    width: 5.18%;
    top: 25.93%;
    right: 15.13%;
    bottom: 14.81%;
    left: 79.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
}
.bars-status-bar-iphone-x {
    position: absolute;
    height: 100%;
    width: 8.84%;
    top: 0%;
    right: 91.16%;
    bottom: 0%;
    left: 0%;
}
.bars-status-bar-iphone-l {
    position: absolute;
    height: 40.91%;
    width: 87.47%;
    top: 29.55%;
    right: 4.53%;
    bottom: 29.55%;
    left: 8%;
}
.light-1 {
    position: absolute;
    top: 0px;
    left: -11px;
    width: 379px;
    height: 44px;
    overflow: hidden;
    font-size: 15px;
    color: #000;
}
.forgot-your-login-container {
    position: absolute;
    top: 0px;
    left: 50px;
}
.or {
    position: absolute;
    top: 27px;
    left: 151px;
    font-weight: 500;
    color: #5a5a5a;
    display: inline-block;
    width: 15px;
    height: 13px;
}
.group-child {
    position: absolute;
    top: 33.5px;
    left: -0.5px;
    border-top: 1px solid #bebebe;
    box-sizing: border-box;
    width: 149px;
    height: 1px;
}
.group-item {
    position: absolute;
    top: 33.5px;
    left: 168.5px;
    border-top: 1px solid #bebebe;
    box-sizing: border-box;
    width: 149px;
    height: 1px;
}
.group-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    background-color: rgba(0, 133, 255, 0.81);
}
.continue-with-facebook {
    position: absolute;
    top: 4px;
    left: 27px;
    font-weight: 500;
    display: inline-block;
    width: 174px;
    height: 17px;
}
.icoutline-facebook-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.continue-with-facebook-parent {
    position: absolute;
    top: 12px;
    left: 57px;
    width: 201px;
    height: 25px;
}
.rectangle-container {
    position: absolute;
    height: 45.87%;
    width: 100%;
    top: 54.13%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-size: 13.1px;
    color: #fff;
    font-family: 'Roboto Mono';
}
.forgot-your-login-details-get-parent {
    position: absolute;
    top: 523px;
    left: 22px;
    width: 317px;
    height: 109px;
    font-size: 10.84px;
}
.login-page {
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    height: 800px;
    overflow: hidden;
    text-align: left;
    font-size: 9.38px;
    color: #919191;
    font-family: Roboto;
}

