/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}
/* Navigatin Bar :Logo and Image  */
#logo{
    margin: 2px 15px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo img{
    height: 55px;
    width: auto;
    /* margin: 4px 5px; */
    /* padding: 10px 10px; */
}
/* Navigation Bar : List Styling */
#navbar {
    position: relative;
}

#navbar ul{
    display: flex;
    
}
#navbar ul li{
    font-size: 1.2rem;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: beige;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(bg.jpeg) no-repeat center center/cover;
    position: absolute;
    height: 120%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;    
}

#home h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
/* utility classes */
.h-primary{
    font-size: 2.5rem;
    padding: 18px;
    font-family: 'Caveat', cursive !important;

}
.btn{
    padding: 6px 20px;
    border: 2px solid w;
}

